/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* Уравнивание шрифтов и эллементов в разных браузерах. Например увеличение шрифта на айфоне */
/*Обнуление ко всем элементам*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/* Подсчет ширины блока */
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Убираем линии обводки в браузерах */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/* Делаем эллементы блочными */
nav,footer,header,aside{display: block;}
/* Уравнивание шрифтов и эллементов в разных браузерах. Например увеличение шрифта на айфоне */
/* html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
} */
/* Наследовть семейство шрифта. По умолчанию они этого не делают */
input,button,textarea{font-family:inherit;}
/* Особенности в разных браузерах. Крестик в инпутах. Отступы конопок. И обнуление списков */
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,900;1,100&family=Open+Sans:ital,wght@0,600;1,400&display=swap');

body::-webkit-scrollbar{
  display: none;
}
.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  height: 100vh;
  min-height: 700px;
  max-height: 1044px;
  width: 100%;
  background: url("../img/header/bg.jpg") center / cover no-repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  position: relative;
}

.header__top {
  background-color: rgba(16, 22, 54, 0.2);
}

.header__top-body {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}
.logo {
  margin: 13px 0px 0px 0px;
}
.logo__link {
  position: relative;
}
.logo__link::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #32b0ee;
  position: absolute;
  right: -33px;
  opacity: 0.4;
}
.logo__link::after {
  content: "I’am your tag line";
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -150px;
  font-style: italic;
  font-size: 14px;
}
.logo__img {
}
.header__nav {
  z-index: 60;
}
.header__navigation {
}
.header__nav-item {
  display: inline-block;
  margin: 0px 0px 0px 34px;
  font-size: 12px;
  border-top: 3px solid transparent;
  transition: 0.5s;
}
.header__links {
  display: inline-block;
  line-height: 50px;
  color: #fff;
}
.header__nav-item:hover {
  border-top: 3px solid #2B76FE;
}
.header__body {
  color: #fff;
}
.header__content {
}
.header__title {
  color: #fff;
  text-align: center;
  font-size: 62px;
  margin: 225px 0px 0px 0px;
}
.header__title::after {
  content: ".";
  color: #2B76FE;
}
.header__subtitle {
  font-size: 48px;
  text-align: center;
  line-height: 41px;
}
.header__subtitle::before {
  content: "/creative";
  color:#2B76FE;
}
.header__paragraph {
  font-size: 18px;
  position: relative;
  top: 25px;
  margin: 0 auto;
  text-align: center;
  width: 330px;
}
.header__paragraph::before {
  content: "";
  width: 28px;
  height: 1px;
  background-color: #2B76FE;
  top: 12px;
  left: 300px;
  position: absolute;
}
.header__paragraph::after {
  content: "";
  width: 28px;
  height: 1px;
  background-color: #2B76FE;
  top: 12px;
  right: 300px;
  position: absolute;
}
.header__social {
  margin: 130px 0px 0px 0px;
}
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  flex-basis: 30px;
}

.features {
  padding: 70px 0px 116px 0px;
  font-family: 'Open Sans', sans-serif;
  background: #EFEFEF;
}

.title {

}
.title__name {
  font-size: 28px;
  text-transform: uppercase;
  color: #4c76ff;
  text-align: center;
  font-weight: 900;
}
.title__heart {
  max-width: 25px;
  position: relative;
  text-align: center;
  margin: 16px auto 0;
}
.title__heart::before {
  content: "";
  font-size: 10px;
  width: 90px;
  height: 1px;
  background-color: #D7DBDD;
  position: absolute;
  left: -101px;
  top: 7px;
}
.title__heart::after {
  content: "";
  font-size: 10px;
  width: 90px;
  height: 1px;
  background-color: #D7DBDD;
  position: absolute;
  right: -102px;
  top: 7px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.cards_margin{
  margin: 70px 0px 0px 0px;
}
.cards__item {
}
.cards__item_max-width{
  max-width: 300px;
  width: 300px;
}
.cards__body {
  display: flex;
  justify-content: space-between;
}
.cards__circle {
  width: 35px;
  height: 35px;
  border: 1px solid #2B76FE;
  border-radius: 50%;
  flex-shrink: 0;
  text-align: center;
}
.cards__icon {
  margin: 8px 0px 0px 0px;
}
.cards__text_width {
  padding: 0px 0px 0px 11px;
  
}
.cards__title {
  font-weight: 600;
  flex: 16;
  line-height: 1;
}
.cards__info {
  font-size: 11px;
  font-weight: 400;
  color: #062033;
  margin: 17px 0px 0px 0px;
  line-height: 17px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
