.burger {
	width: 40px;
	height: 30px;
	position: relative;
	z-index: 50;
	cursor: pointer;
	display: none;
}
.burger__item {
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	transition: 0.2s all linear;
}
.burger__item:first-child {
	top: 0;
	left: 0;
}
.burger__item:nth-child(2),
.burger__item:nth-child(3) {
	top: calc(50% - 2px);
	left: 0;
}
.burger__item:last-child {
	left: 0;
	bottom: 0;
}
.burger_active .burger__item:first-child,
.burger_active .burger__item:last-child{
	opacity: 0;
	transition: 0.1s all linear;
}
.burger_active .burger__item:nth-child(2) {
	transform: rotate(45deg);
}
.burger_active .burger__item:nth-child(3) {
	transform: rotate(-45deg);
}
@media(min-width: 768px){
	.header__nav {
		opacity: 1;
	}
}
@media(max-width: 768px){
	.header__top-body {
		min-height: 53px;
	}
	.header__nav {
		/* opacity: 0; */
		position: absolute;
		top: 53px;
		right: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
	}
	.header__nav-item {
		display: block;
		text-align: center;
		border-bottom: 1px solid rgba(255,255, 255, 0.3);
		width: 100%;
		margin: 0px 0px 0px 0px;
	}
	.header__nav-item:last-child {
		border: none;
	}
	.burger{
		display: block;
	}
	.header__title {
		font-size: 42px;
	}
	.header__subtitle {
		font-size: 36px;
		text-align: center;
		line-height: 41px;
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
	}
	.cards__item_max-width{
		max-width: 100%;
	}
	.cards__item {
		flex-basis: 100%;
		margin: 40px 0px 0px 0px;
	}
	.cards_margin{
		margin: 0px 0px 0px 0px;
	}
	.features {
		padding: 30px 0px 50px 0px;
	}
}
@media(max-width: 400px){
	.header__title {
		font-size: 38px;
		margin: 150px 0px 0px 0px;
	}
	.header__subtitle {
		font-size: 32px;
		text-align: center;
		line-height: 41px;
	}
	.header__paragraph {
		font-size: 14px;
		top: 15px;
		width: 230px;
	}
	.header__paragraph::before {
		content: "";
		width: 18px;
		top: 7px;
		left: 220px;
	}
	.header__paragraph::after {
		content: "";
		width: 18px;
		top: 7px;
		right: 220px;
	}
	.burger {
		width: 25px;
		height: 25px;
	}
	.logo__link::before {
		display: none;
	}
	.logo__link::after {
		display: none;
	}
}
@media(max-height: 595px){
	.header {
		height: 100vh;
		min-height: 440px;
	}
	.header__title {
		margin: 90px 0px 0px 0px;
	}
	.header__social {
		margin: 90px 0px 0px 0px;
	}
}